body {
    margin: 1rem;
}

.action {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    min-height: 5rem;
    background-color: lightseagreen;
    text-align: center;
    vertical-align: middle;
    border-radius: 0.25rem;
    align-items: center;
    justify-content: center;
    display: flex;
}

.content {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align: center;
}
div.content div {
    margin: 1rem auto 1rem auto;
}

.extras {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align: center;
}

.workshop {
    margin: 0.5rem;
    padding: 1rem;
    border: 0.1rem solid #ccc;
}

.workshop span {
    padding: 0.5rem;
}

label {
    font-weight: bold;
    display: block;
    width: 250px;
    float: left;
    font-size: 32px;
}

label:after {
    content: ": ";
}

fieldset {
    border: 3px solid yellowgreen;
    width: 1000px;
    padding: 1rem;
    text-align: left;
}

fieldset legend {
    background: yellowgreen;
    padding: 4px;
    font-weight: bold;
}

fieldset input {
    padding: 15px 32px;
    margin-right: 10px;
}

fieldset textarea {
    resize: none;
    width: 735px;
}

button {
    margin: 0.25rem;
    background-color: yellowgreen;
    border: none;
    border-radius: 0.25rem;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    /*color: #444;*/
}

.--pad-right {
    margin-right:25px;
}

span {
    border-color: red;
    white-space: nowrap;
    display: inline-block;
}

#workshop_header {
    font-weight: bold;
    font-size: 32px;
}