body {
    margin: 1rem;
}

.action {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    min-height: 5rem;
    background-color: lightseagreen;
    text-align: center;
    vertical-align: middle;
    border-radius: 0.25rem;
    align-items: center;
    justify-content: center;
    display: flex;
}

.content {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align: center;
}

.extras {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align: center;
}

.workshop {
    margin: 0.5rem;
    padding: 1rem;
    border: 0.1rem solid #ccc;
}

.workshop span {
    padding: 0.5rem;
}

label {
    font-weight: bold;
    display: block;
    width: 150px;
    float: left;
}

label:after {
    content: ": ";
}

fieldset {
    border: 3px solid yellowgreen;
    width: 300px;
    padding: 1rem;
    text-align: left;
}

fieldset legend {
    background: yellowgreen;
    padding: 4px;
    font-weight: bold;
}

fieldset.workshop_form textarea {
    resize: none;
    width: 320px;
}

button {
    margin: 0.25rem;
}